html
{
	background-image: url(../Images/Fond.jpg);
	background-attachment: fixed;
}
body
{
	margin-top: 50;
	margin-right: 50;
	margin-bottom: 50;
	margin-left: 50;
	background-color: E0ECF8;
	opacity: 0.98;
}
div
{
	margin-right: 50;
	margin-left: 50;
}
h1
{
	text-align: center;
}
h2
{
	text-decoration: underline;
}
h3
{
	font-style: italic;
	text-decoration: underline;
}
h6
{
	text-align: center;
	font-style: italic;
	font-size: 125%;
}
p
{
	font-size: 125%;
	margin-right: 17%;
	background-color: white;
	opacity: 0.98;
}

#bords
{
	box-shadow: 0 0 0 10 hsl(0, 0, 80%), 0 0 0 15 hsl(0, 0, 90%);
}
#titre
{
	text-decoration: underline;
}
#boutonImprimer
{
	height: 2em;
	width: 2em;
}
#groupe
{
	margin-left: 39%;
	margin-right: 39%;
	background-color: white;
	opacity: 0.98;
	text-align: center;
}
#sommaire
{
	font-style: none;
	text-decoration: none;
}
#date
{
	margin-right: 42%;
	margin-left: 42%;
	text-align: center;
	background-color: FAFAFA;
	text-decoration: none;
}
#imageGauche
{
	margin-left: 20;
	margin-bottom: 20;
}
#imageGaucheTexte
{
	margin-left: 7%;
}
#imageCentre
{
	margin-left: 25%;
	margin-bottom: 20;
}
#imageCentreTexte
{
	margin-left: 32%;
}
#imageDroite
{
	float: right;
	margin-right: 20;
	margin-bottom: 20;
}
#imageDroiteTexte
{
	float: right;
	margin-right: 5%;
}

.cacher
{
	margin-left: 0.75%;
	visibility : hidden;
	position : absolute;
}
.afficher
{
	margin-left: 0.75%;
}